/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
}

@layer utilities {
	.scrollbar-dark::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	.scrollbar-dark::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: #1f2937;
	}

	.scrollbar-dark::-webkit-scrollbar-thumb {
		background: #374151;
		border-radius: 100vh;
		border: 2px solid #1f2937;
	}

	.scrollbar-dark::-webkit-scrollbar-thumb:hover {
		background: #4b5563;
	}

	.scrollbar-light::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	.scrollbar-light::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: white;
	}

	.scrollbar-light::-webkit-scrollbar-thumb {
		background: #9ca3af;
		border-radius: 100vh;
		border: 2px solid white;
	}

	.scrollbar-light::-webkit-scrollbar-thumb:hover {
		background: #6b7280;
	}
}
